body{
    display: flex;
    flex-direction: column;
}

/*first row*/
.header{
    display: flex;
    outline: 2px solid red;
    justify-content: space-evenly;
    flex-grow: 1;

}

.links ul{
    display: flex;
    list-style: none;
    gap: 10px; 
}

.links a{
    text-decoration: none;
}

/*second row*/

.welcome{
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
}

.left-content{
    width:500px;
}


.photo{
    display: flex;
    flex-direction: column;
    outline: 2px red solid ;
    width: 400px;
    height: 200px;
}

.photo img{
    width: 400px;
    height: auto;
}

.photo p{
    position: absolute;
}