body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*header*/
.header{
    display: flex;
    outline: 2px solid red;
    background-color: #1F2937;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    padding-bottom: 1cm;

}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.links ul{
    display: flex;
    list-style: none;
    gap: 10px; 
}

.links a{
    text-decoration: none;
    color: white;
}

/*first row*/

.first-row{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #1F2937;
    padding-bottom: 100px;
}

.welcome{
    outline: 2px solid red;
    width: 900px;
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
}

.left-content{
    outline: 2px solid black;
    width:500px;
    color: white;
}

.welcome .left-content .main-text{
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 0%;
}

.welcome.left-content .secondary-text{
    font-size: 18px;
}


.photo{
    display: flex;
    flex-direction: column;
    outline: 2px red solid ;
    width: 400px;
    height: 200px;
}

.photo img{
    width: 400px;
    height: auto;
}

/*second row*/

.second-row{
    outline: 2px solid yellow;
    background-color: white
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card{
    outline: 2px solid yellow;
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center;
}

h1{
    outline: 2px solid blue;
    padding: 0px;
    margin-bottom: 0.7cm;
    text-align: center;
}

.info{
    outline: 2px solid red;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 15px;
    width: 700px;
    height: auto;
    margin: 0 auto

}


.card{
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 5px;
    align-items: center;
}


.card img{
    width: 150px;
    height: 150px;
    border-radius: 10%;
    
}

.card p{
    text-align: center;
    flex-wrap: wrap;

}

/*Third row*/

.third-row{
    outline: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 400px;
    margin: auto;
    background-color: #E5E7EB;
}

.third-row .quote{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: auto;
   
}

.third-row .quote .quote-text{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.third-row  .quote .quote-author{
    outline: 2px solid purple;
    text-align: right;
}

/*fifth row*/

.forth-row{
    width:100%;
    outline: 2px solid red;
    padding-bottom: 60px;
    padding-top: 60px;
}


.call{
    outline: 2px solid black;
    padding: 30px;
    display: flex;
    width: 800px;
    height: auto;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.call .call-text{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Footer */

.footer{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

.footer p{
    color: white;
}

